<!-- Load static directory defined in settings.py -->
{% load static %}
<html>
	<head>
		<!-- Load CSS stylesheet from static directory -->
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" >
	</head>
	<body>
		<!-- Show the appropriate heading depending on the type -->
		{% if type == "actor" %}
			<h2>Actors with most wins</h2>
		{% elif type == "actress" %}
			<h2>Actresses with most wins</h2>
		{% elif type == "director" %}
			<h2>Directors with most wins</h2>
		{% endif %}		<!-- End if -->
		
		<table>
			<!-- Show appropriate table headers depending on the type -->
			{% if type == "actor" or type == "supporting actor" %}
				<th>Actor</th>
			{% elif type == "actress" or type == "supporting actress" %}
				<th>Actress</th>
			{% elif type == "director" %}
				<th>Director</th>
			{% endif %}		<!-- End if -->			
				<th>Wins</th>
				<th>Nominations</th>
				
			<!-- Loop through results set and show values in each row -->
			{% for name, total_noms, total_wins in results %}
				<tr>
					<td>{{ name }}</td>
					<td>{{ total_wins }}</td>
					<td>{{ total_noms }}</td>
				</tr>
			{% endfor %}	<!-- End for -->
		</table>
	</body>
</html>